@media screen and (max-width: 500px) {
  .crew-content {
    width: 375px;
    max-height: 640.67px;
    margin: 0 auto;
  }
  .crew-left {
    width: 375px;
  }

  .crew-right {
    width: 327px;
    height: 288px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .crew-right img {
    margin-top: 1.8rem;
    margin-left: 1.4rem;
    width: 181px;
    height: auto;
    align-self: flex-end;
  }

  .crew-title {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  .crew-title .gris {
    margin-left: 0;
    margin-right: 1.1rem;
  }

  .crew-title h5 {
    font-size: 1.1rem;
    letter-spacing: 3.5px;
  }
  .crew-role {
    margin-top: 4rem;
    font-size: 1.15rem;
  }
  .crew-name {
    margin-top: 2rem;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    letter-spacing: 2.4px;
  }

  .crew-left .body-text {
    font-size: 15px;
    margin-top: 2rem;
    width: 88%;
    height: 6rem;
    hyphens: none;
  }
  .crew-selector {
    margin-top: 5rem;
    width: 7rem;
    height: 10px;
  }

  .crew-selector button {
    width: 10px;
    height: 10px;
    padding: 0;
  }
}
