.technology-content {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.technology-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 4.444rem;
  height: 16.833rem;
  margin-top: 7rem;
}

.technology-aside button {
  width: 4.444rem;
  height: 4.444rem;
  border-radius: 50%;
  border: 1px solid grey;
  font-size: 1.778rem;
  font-family: "Bellefair", sans-serif;
  cursor: pointer;
}

.technology-aside button:hover {
  border: 1px solid white;
}

.technology-aside .button-inactive {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 1px solid grey;
}

.technology-aside .button-active {
  background-color: #ffffff;
  color: #0b0d17;
}

.technology-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: #fff;
  width: 33.333rem;
  margin-left: 4.5rem;
  margin-top: 7rem;
}

.technology-label {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.889rem;
  letter-spacing: 2.7px;
  color: #d0d6f9;
}

.technology-name {
  margin-top: 0.8rem;
  font-family: "Bellefair", serif;
  font-size: 3.111rem;
  text-transform: uppercase;
  width: 34.111rem;
}

.technology-left .body-text {
  margin-top: 0.65rem;
  width: 24.667rem;
  color: #d0d6f9;
}

.technology-right {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  width: 28.611rem;
  margin-top: 1rem;
  margin-left: 0.05rem;
}

.technology-right img {
  width: 28.611rem;
  height: 29.278rem;
}
